stages:
  Input:
    actors:
      PopulationArgs:
        parent: PopulationArgs
        readonly: true{{#if inputArgs}}
        in:{{#each inputArgs}}
          {{{this}}}:
            external: {{{this}}}
            schema: any
            mandatory: false{{/each}}{{/if}}
      SyncDeleteMode:
        parent: SyncDeleteMode
        in:
          interface:
            schema: any
          table:
            const: null
            external: table
  Source:{{#if isRootTable}}
    actors:
      MongoQuery:
        parent: SourceMongoDbQuery
        in:
          interface:
            const: {{#if sourceInterface}}{{sourceInterface}}{{else}}null{{/if}}
          database:
            const: {{#if sourceSchema}}{{sourceSchema}}{{else}}null{{/if}}
          collection:
            const: {{#if sourceTable}}{{sourceTable}}{{else}}null{{/if}}
          parent_rows:
            link: PopulationArgs/parent_rows{{#if sourceQueryOutputs}}
          flatten:
            const: false
        out:
          result:
            schema: '#ref'{{/if}}{{else}} {
    }{{/if}}
  Mapping:
    actors:
      DocumentQuery:
        parent: DocumentQuery
        in:
          field:
            const: {{#unless isRootTable}}{{#if docFieldName}}{{{docFieldName}}}{{/if}}{{/unless}}
          parent_rows:
            link: {{#if isRootTable}}MongoQuery/result{{else}}PopulationArgs/parent_rows{{/if}}
      Get SEQ_CACHE_INTERFACE:
        parent: FabricSetRead
        in:
          key:
            const: SEQ_CACHE_INTERFACE
            default: false
  Masking:
    actors:
      Catalog Masking Mapper:
        parent: CatalogMaskingMapper
        in:
          interface:
            const: null
            link: Get SEQ_CACHE_INTERFACE/result
          mtable:
            schema: any
          dataPlatform:
            const: {{#if sourceInterface}}{{sourceInterface}}{{else}}null{{/if}}
          schema:
            const: {{#if sourceSchema}}{{sourceSchema}}{{else}}null{{/if}}
          dataset:
            const: {{#if sourceTable}}{{sourceTable}}{{else}}null{{/if}}
          catalogClassName:
            const: {{#if catalogClass}}{{catalogClass}}{{else}}null{{/if}}
            schema: string
            mandatory: false
          values:
            link: DocumentQuery/result
        out:
          values:
            schema: '#ref'
  LU Table:
    last: 1
    actors:
      {{{luTable}}}:
        parent: DbLoad
        in:
          interface:
            const: fabric{{#if upsert}}
          command:
            const: upsert{{/if}}
          schema:
            const: null
            external: schema
          table:
            const: null
            external: table
          fields:
            const:
            {{#each luTableColumns}}
            - {{{this}}}
            {{/each}}
          keys:
            const:
            {{#each luTableKeys}}
            - {{{this}}}
            {{/each}}
          dialect:
            const: sqlite
          {{#each luTableColumns}}
          {{{this}}}:
            schema: any
          {{/each}}
          params:
            link:
              path: Catalog Masking Mapper/values
              iterate: Iterate
  Post Load: {
    }
{{#if sourceQueryOutputs}}schemas:
  MongoQuery.out.result:
    type: object
    properties:
      {{#each sourceQueryOutputs}}
      {{{this}}}:
        type: {
          }
      {{/each}}
{{/if}}